body{
     background-color: rgb(66, 59, 59); 
    /* background-image: url("./images/flowers-276014_640.jpg");  */
}

@media screen and (max-width: 480px) {
    body{
        background-color: black;
    }
    .nav{
        display: flex;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    background-color: antiquewhite;
    }

    .nav-img{
        width: 130px !important;
        height: 100PX !important;
        border-radius: 200px;
        margin-top: 20% !important; 
        margin-left: 4%;
    }

}
.nav-img{
    border-radius: 200px;
    margin-top: 3%;
    margin-left: 4%;
    width :129px ;
    height :135px;
}
.nav{
    /* position:; */
    display: flex;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 3%;
    background-color: antiquewhite;
}

.name{
    margin-left: 2%;
    width: 100%;
    padding-top: 0;
}

.navbar-text{
    padding-top: 0;
    margin-left: 4%;
    
}

.info{
    background-color:aliceblue;
    padding:5%;
    /* color: wheat; */

}

li{
    display:inline-block;
    margin-left: 2%;
    /* margin-left: 10%; */
}

/* .skills{
    /* margin-left: ; *
} 
*/

.headings{
    text-decoration:double;
}

.assign{
    margin-top: 0;
}

.info{
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 3%;
}



.videos{
    display: flexbox;
    /* margin-left: 7%; */
}